body {
    color: white;
    background: #c0d3ff;
}

span {
    font-size: 30px;
}

#camera,
#result {
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}

#emotionNameResult1,
#emotionNameResult2 {
    color: black;
}

.emotionName {
    font-size: 40px;
}

.emoji {
    font-size: 48px;
}

.heading {
    font-size: 25px;
    border-radius: 10px;
    letter-spacing: 10px;
    padding: 20px;
}

label{
    font-size: 20px;
    color: rgb(0, 255, 0);
    background-color: black;
    padding: 5px;
    border-radius: 10%;
    border: red double 5px;
}